:root {
  --primary-color: #ffffff;
  --secondary-color: #fcf8f3;
  --text-color: #000000;
  --header-text-color: #3a3a3a;
  --extra-text-color: #616161;
  --special-color: #fff3e3;
  --button-color: #b88e2f;
  --poppins-font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  color: var(--header-text-color);
  font-family: var(--poppins-font);
}

body {
  background-color: var(--primary-color);
}

/*======================================
          Common CSS ‍Start
=======================================*/
.container {
  width: 1440px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/*======================================
          Common CSS End
=======================================*/

/*======================================
          nav-bar CSS ‍Start
=======================================*/
.nav-bar {
  background-color: var(--primary-color);
}
.nav-bar nav {
}
.nav-bar .container {
  padding-top: 23px;
  padding-bottom: 36px;
}
.nav-bar .container .menu {
  width: 430px;
}

.nav-bar .container .icons {
  width: 247px;
}

.nav-bar .container .menu li a {
  font-size: 16px;
  color: var(--text-color);
  font-weight: 500;
}

.nav-bar .container .icons i {
  font-size: 28px;
}
.nav-bar .container .menu li {
  position: relative;
}

.sub-menu {
  position: absolute;
  top: 300%;
  background-color: var(--primary-color);
  padding: 10px 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.nav-bar .container .menu li:hover .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.sub-menu li {
  position: relative;
}
.sub-menu .sub-menu {
  position: absolute;
  top: 0;
  left: 300%; /* Place it on the right */
  opacity: 0;
  visibility: hidden;
  transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/*======================================
          nav-bar CSS End
=======================================*/
/*======================================
             HERO-SECTION--Start
=======================================*/
.hero {
  background-image: url(../images/background.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hero .container {
  height: 716.83px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero .container .hero-content {
  width: 643px;
  height: 443px;
  border-radius: 10px;
  background-color: var(--special-color);
  padding: 62px 43px 37px 39px;
  box-sizing: border-box;
  margin-right: 58px;

  /* margin-right: 58px; */
}

/*---------------------SVG Background-------------------------*/
/*======================================
             HERO-SECTION--END
=======================================*/

/*======================================
             SERVICES-SECTION-START
=======================================*/

/* ----======================================
             SERVICES-SECTION--END
=======================================--> */

/*======================================
             INNOVATE & Resources-SECTION-START resources
=======================================*/

/*======================================
             INNOVATE-SECTION--END
=======================================*/
/*======================================
             SHOWCASE-SECTION-START
=======================================*/

/*======================================
  SHOWCASE-SECTION--END
  =======================================*/

/*======================================
            companies-SECTION-START
=======================================*/

/*======================================
            TRAIL-SECTION--END
  =======================================*/

/*======================================
            Trail-Content-SECTION--END
  =======================================*/

/*======================================
            Trail-Content-SECTION--END
  =======================================*/
/*======================================
            RECENT-SECTION--END
  =======================================*/

/*======================================
            RECENT-SECTION--END
  =======================================*/
/*======================================
            PROJECT-SECTION--END
  =======================================*/

/*======================================
            PROJECT-SECTION--END
  =======================================*/
/*======================================
            FOOTER-SECTION--END
  =======================================*/

/*======================================
            FOOTER-SECTION--END
  =======================================*/
/*======================================
            -SECTION--END
  =======================================*/
/*======================================
            -SECTION--END
  =======================================*/
/*======================================
            -SECTION--END
  =======================================*/
/*======================================
            -SECTION--END
  =======================================*/
