:root {
  --primary-color: #ffffff;
  --secondary-color: #fcf8f3;
  --text-color: #000000;
  --header-text-color: #3a3a3a;
  --extra-text-color: #616161;
  --special-color: #fff3e3;
  --button-color: #b88e2f;
  --poppins-font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  color: var(--header-text-color);
  font-family: var(--poppins-font);
}

body {
  background-color: var(--primary-color);
  color: var(--header-text-color);
  /* color: var(--button-color); */
}

/*======================================
          Common CSS ‍Start
=======================================*/
.container {
  width: 1440px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
h2 {
  text-align: center;
  font-size: 32px;
}

h3 {
  text-align: center;
  font-size: 24px;
}

p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
}

.btn {
  display: inline-block;
  padding: 25px 72px;
  background-color: var(--button-color);
  color: var(--primary-color);
}

/*======================================
          Common CSS End
=======================================*/

/*======================================
          nav-bar CSS ‍Start
=======================================*/
.nav-bar {
  background-color: var(--primary-color);
}

.nav-bar .container {
  padding-top: 23px;
  padding-bottom: 36px;
}
.nav-bar .container .menu {
  width: 430px;
}

.nav-bar .container .icons {
  width: 247px;
}

.nav-bar .container .menu li a {
  font-size: 16px;
  color: var(--text-color);
  font-weight: 500;
}

.nav-bar .container .icons i {
  font-size: 28px;
}
.nav-bar .container .menu li {
  position: relative;
}
.sub-menu {
  position: absolute;
  top: 500%;
  background-color: var(--primary-color);
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: top 0.2s ease-in-out, opacity 0.3s ease-in-out;
}

.sub-menu li {
  padding: 8px 20px;
  position: relative;
}
.menu li:hover > .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.menu .sub-menu .sub-menu {
  top: 0%;
  left: 300%;
  opacity: 0;
  visibility: hidden;
  transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.menu .sub-menu li:hover > .sub-menu {
  top: 0;
  left: 100%;
  opacity: 1;
  visibility: visible;
}

.menu .sub-menu .sub-menu .sub-menu {
  top: 500%;
  left: 100%;
  visibility: hidden;
  transition: top 0.2s ease-in-out, opacity 0.3s ease-in-out;
}

.menu .sub-menu .sub-menu li:hover > .sub-menu {
  top: 0%;
  left: 100%;
  opacity: 1;
  visibility: visible;
}

/*======================================
          nav-bar CSS End
=======================================*/
/*======================================
             HERO-SECTION--Start
=======================================*/
.hero {
  background-image: url(../images/background.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hero .container {
  height: 716.83px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero .container .hero-content {
  width: 643px;
  height: 443px;
  border-radius: 10px;
  background-color: var(--special-color);
  padding: 62px 43px 37px 39px;
  box-sizing: border-box;
  margin-right: 58px;
}
.hero .container .hero-content p {
  margin-top: 17px;
  text-align: left;
  justify-content: left;
}
.hero .container .hero-content h4 {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
}

.hero .container .hero-content #main-heading span {
  color: var(--button-color) !important;
  font-size: 52px;
  display: block;
  line-height: 65px;
}
.hero .container .hero-content .common-button {
  margin-top: 46px;
}
/*======================================
             HERO-SECTION--END
=======================================*/

/*======================================
             browse-SECTION-START
=======================================*/
.browse .container h2 {
  margin-top: 56px;
}

.browse .container p {
  margin-bottom: 62px;
}
.browse .container:last-child {
  width: 1183px;
  justify-content: space-between;
}
.browse .container h3 {
  text-align: center;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 77px;
}
/* ----======================================
             browse-SECTION--END
=======================================--> */
/*======================================
             PRODUCT-SECTION-START
=======================================*/
.products .container h2 {
  text-align: center;
  font-size: 32px;
  margin-top: 56px;
}

.browse .container p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 62px;
}
.browse .container:last-child {
  width: 1183px;
  justify-content: space-between;
}
.browse .container h3 {
  text-align: center;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 77px;
}

.browse .container .products-display {
  width: 100%;
  flex-wrap: wrap;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 77px;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}
.product .container .products-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
/* ----======================================
             PRODUCT-SECTION--END
=======================================--> */
/*======================================
             INNOVATE & Resources-SECTION-START resources
=======================================*/

/*======================================
             INNOVATE-SECTION--END
=======================================*/
/*======================================
             SHOWCASE-SECTION-START
=======================================*/

/*======================================
  SHOWCASE-SECTION--END
  =======================================*/

/*======================================
            companies-SECTION-START
=======================================*/

/*======================================
            TRAIL-SECTION--END
  =======================================*/

/*======================================
            Trail-Content-SECTION--END
  =======================================*/

/*======================================
            Trail-Content-SECTION--END
  =======================================*/
/*======================================
            RECENT-SECTION--END
  =======================================*/

/*======================================
            RECENT-SECTION--END
  =======================================*/
/*======================================
            PROJECT-SECTION--END
  =======================================*/

/*======================================
            PROJECT-SECTION--END
  =======================================*/
/*======================================
            FOOTER-SECTION--END
  =======================================*/

/*======================================
            FOOTER-SECTION--END
  =======================================*/
/*======================================
            -SECTION--END
  =======================================*/
/*======================================
            -SECTION--END
  =======================================*/
/*======================================
            -SECTION--END
  =======================================*/
/*======================================
            -SECTION--END
  =======================================*/
