@media (max-width: 560px) {
  .container {
    max-width: var(--breakpoint-sm);
  }

  .hero-text-block {
    width: 100%;
  }

  .hero-banner .hero-content-wrapper {
    padding: 0;
  }

  .gallery__item {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

@media (max-width: 720px) {
  .container {
    max-width: var(--breakpoint-md);
  }


}

@media (max-width: 960px) {
  .container {
    max-width: var(--breakpoint-lg);
  }


}

@media (max-width: 1200px) {
  .container {
    max-width: var(--breakpoint-xl);
  }

  .menu-toggle {
    display: block;
  }

  .main-menu {
    display: none;
  }

  .icons {
    display: none;
  }
}

/* @media (max-width: 1440px) {
  .container {
    max-width: var(--breakpoint-2xl);
  }
} */