:root {
  --small-row: 0.25fr;
  --medium-row: 0.5fr;
  --tiny-row: 0.15fr;

  --small-column: 15%;
  --medium-column: 25%;
  --normal-column: 16%;
  --large-column: 24%;
}
.furniture-gallery .container {
  padding-top: 4.18rem;
  padding-bottom: 3.125rem;
  text-align: center;
  border: 1px solid red;
}
.furniture-gallery .container .gallery {
  width: 124%;
  display: grid;
  /* grid-template-columns: repeat(5, auto); */
  grid-template-columns:
    var(--small-column) var(--medium-column) repeat(2, var(--normal-column))
    var(--large-column);
  /* grid-template-columns: repeat(5, minmax(0, 1fr)); */
  grid-template-rows: repeat(3, var(--small-row)) var(--medium-row) var(
      --tiny-row
    );
  gap: 1rem;
  grid-auto-rows: auto;
  border: 1px solid rgb(68, 0, 255);
}
.picture {
  border: 1px solid rgb(0, 255, 42);
}
.furniture-gallery .container .gallery img {
  width: 100%;
}
