div {
  width: 100px;
  height: 100px;
}

.container div:first-child {
  background-color: red;
}
.container div:nth-child(2) {
  background-color: rgb(60, 255, 0);
}
.container div:nth-child(3) {
  background-color: rgb(158, 152, 118);
}
.container div:nth-child(4) {
  background-color: rgb(7, 230, 230);
}
.container div:nth-child(5) {
  background-color: rgb(0, 153, 255);
}
.container div:nth-child(6) {
  background-color: rgb(204, 0, 255);
}
.container div:nth-child(7) {
  background-color: rgb(174, 0, 255);
}
.container div:last-child {
  background-color: rgb(17, 0, 255);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
