@media (min-width: var(--breakpoint-sm)) {
  .container {
    max-width: 560px;
  }
}

@media (min-width: var(--breakpoint-md)) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: var(--breakpoint-lg)) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: var(--breakpoint-xl)) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: var(--breakpoint-2xl)) {
  .container {
    max-width: 1440px;
  }
}